<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar 2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="navbar-botones.component.css"> <!-- Link a la hoja de estilos CSS -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark-bg large-navbar navbar-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3"
            aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav3">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownT1" role="button" aria-expanded="false">
            <i class="nav-link-icon">🔗</i> Botón A
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownT1">
            <li><a class="dropdown-item" href="#">Opción A.1</a></li>
            <li><a class="dropdown-item" href="#">Opción A.2</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
